langchain-groq
langchain 
google-generativeai
langchain-google-genai==1.0.3
requests
beautifulsoup4
selenium
python-dotenv
pyodbc
streamlit
langsmith
langchain-community
langchain-chroma
pysqlite3-binary
sqlserverport